<div class="page_title">
    My Account
</div>
<div class="page-content">
    <div class="page_left_side">
        <div id="subscription" class="clickable" (click)="showSubscriptions()">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <span>
                Subscription
            </span>
        </div>
        <div id="profile" class="clickable" (click)="showProfile()">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <span>
                Profile
            </span>
        </div>
    </div>
    <div class="page_right_side">
        <router-outlet></router-outlet>
    </div>
</div>