<form novalidate="">

    <div>
        <div class="form-group">
            <div class=" login-inputs">
                <h3 class="pull-left">Sign In</h3>
            </div>
        </div>
        

        <div class="form-group">
            <div class=" login-inputs">
                <input type="email" placeholder="Email" name="email" (keyup.enter)="login()" [(ngModel)]="userData.email"/>
            </div>
        </div>
        <div class="form-group">
            <div class=" login-inputs">
                <a class="form-link pull-right" href="#">Forgot?</a>
                <input type="password" placeholder="Password" name="password" (keyup.enter)="login()" [(ngModel)]="userData.password"/>
            </div>
        </div>
        <div class="form-group">
            <div class=" login-inputs">
                <button type="button" class="btn btn-primary sign-in-btn" (click)="login()">SIGN IN</button>
            </div>
        </div>
        <div class="form-group">
            <div class=" login-inputs">
                <hr id="sign-in-hr"/>
            </div>
            <div id="sign-in-or">OR</div>
        </div>
        <div class="form-group">
            <div class=" login-inputs">
                <button type="button" class="btn sign-in-btn" id="google-sign-in-btn">
                    <i class="fa fa-google-plus-official" id="google-plus-icon" aria-hidden="true"></i>
                    SIGN IN WITH GOOGLE
                    </button>
            </div>
        </div>
        <div class="form-group">
            <div class="login-inputs">
                <span>
                    Don't have an account?
                </span>
                <br>
                <a [routerLink]="['/signup']">REGISTER NOW</a>
            </div>
        </div>
    </div>
</form>