<h1>My Workflows</h1>
<ul class="workflows">
    <li *ngFor="let workflow of workflows" (click)="onSelect(workflow)" [class.selected]="workflow === selectedHero">
        <span class="badge">{{workflow.id}}</span>
        <span>{{workflow.name}}</span>
        <button class="delete" (click)="delete(workflow); $event.stopPropagation()">x</button>
    </li>
</ul>
<div>
    <label>Hero name:</label> <input #workflowName />
    <button (click)="add(workflowName.value); workflowName.value=''">Add</button>
</div>
<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} is my workflow</h2>
    <button (click)="goToDetail()">View Details</button>
</div>