<div class="first_row">
    <div class="first_col">
        Your Subscription is
        <div class="dark_blue">
            30-Day Free Trial 
        </div>
        <a class="light_blue clickable" id="comare_plans">
            Compare Plans
        </a>
    </div>
    <div class="second_col">
        <div>Status Active</div>
        <div>Expires Jul 11th,2017 </div>
    </div>
    <div class="third_col">
        <button class="btn btn-primary">
            Request Subscription
        </button>
    </div>
</div>
<div class="other_rows">
    <div class="first_col">
        <div>Active integration Flows:</div>
        <div>NA</div>
    </div>
    <div class="second_col">
        <div>Customer Success Plan:</div>
        <div>Essential</div>
    </div>
    <div class="third_col">
        
    </div>
</div>