<div *ngIf="workflow">
    <div id="steps-container">
        <nav id="steps">
            <div class="step-line"></div>
            <button type="button" class="step" (click)="goTo(1)" [ngClass]="{selected: step === 1}">
                <i class="fa fa-sliders step-button" aria-hidden="true"></i>
                <span class="step-title">Settings</span>
            </button>
            <button type="button" class="step" (click)="goTo(2)" [ngClass]="{selected: step === 2}">
                <i class="tab-icon fa fa-arrows-h step-button" aria-hidden="true"></i>
                <span class="step-title">Fields</span>
            </button>
            <button type="button" class="step" (click)="goTo(3)" [ngClass]="{'selected': step === 3}">
                <i class="fa fa-check step-button" aria-hidden="true"></i>
                <span class="step-title">Save</span>
            </button>
        </nav>
    </div>

    <form (ngSubmit)="onSubmit()" #workflowForm="ngForm">
        <!-- Settings -->
        <div [hidden]="step !== 1">
            <p class="form-instruction">Choose a Smartsheet Sheet and a JIRA project to connect.</p>

            <div class="form-group">
                <label class="form-label" for="syncType">Sync Type</label>
                <div >
                    <div class="select-wrapper">
                        <select class="form-control" id="syncType" [(ngModel)]="workflow.syncType" name="syncType" required>
                            <option *ngFor="let type of syncTypes" [value]="type">{{type}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="sheetName">Sheet Name</label>
                <div >
                    <div class="select-wrapper">
                        <select class="form-control" id="sheetName" [(ngModel)]="workflow.sheetId" name="sheetId" required>
                            <option [value]="1">SmartSheet 1</option>
                            <option [value]="2">SmartSheet 2</option>
                            <option [value]="3">SmartSheet 3</option>
                        </select>
                    </div>
                    <a href="#" class="form-link">Create a new sheet</a>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="jiraProject">JIRA Project</label>
                <div >
                    <div class="select-wrapper">
                        <select class="form-control" id="jiraProject" [(ngModel)]="workflow.jiraId" name="jiraId" required>
                            <option [value]="1">JIRA 1</option>
                            <option [value]="2">JIRA 2</option>
                            <option [value]="3">JIRA 3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Step 2 -->
        <div [hidden]="step !== 2">
            <p class="form-instruction">Map JIRA fields to sheet columns.</p>

            <div class="form-group">
                <label class="form-label" for="fieldId">Task ID</label>
                <div >
                    <div class="select-wrapper">
                        <select id="jiraProject" [(ngModel)]="workflow.taskId" name="taskId" required>
                            <option [value]="11111">11111</option>
                            <option [value]="22222">22222</option>
                            <option [value]="33333">33333</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="fieldId">Error Field</label>
                <div >
                    <div class="select-wrapper">
                        <select id="jiraProject" [(ngModel)]="workflow.errorField" name="errorField" required>
                            <option [value]="11111">11111</option>
                            <option [value]="22222">22222</option>
                            <option [value]="33333">33333</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Step 3 -->
        <div [hidden]="step !== 3">
            <p class="form-instruction">Save</p>

            <div class="form-group">
                <label class="form-label" for="jiraProject">Workflow Name</label>
                <div>
                    <input type="text" id="name" name="name" [(ngModel)]="workflow.name" required>
                </div>
            </div>
        </div>

        <div class="form-navigation">
            <button [hidden]="step === 1" (click)="goBack()" class="btn btn-outline" type="button">Back</button>
            <button [hidden]="step === 3" (click)="next()" class="btn" type="button">Next</button>
            <button *ngIf="!workflow.active" [hidden]="step !== 3" (click)="save()" class="btn" type="button">Save as draft</button>
            <button [hidden]="step !== 3" (click)="launch()" class="btn btn-action" type="button">{{ workflow.active ? 'Save' : 'Save and launch' }}</button>
        </div>
    </form>
    <br />
    <div class="align-center">
        <a [routerLink]="['/dashboard']" class="action-link">Cancel</a>
    </div>
</div>