<div id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/dashboard']" class="pull-left">
                        <span class="glyphicon glyphicon-home" aria-hidden="true" id="home-btn"></span>
                    </a>
                </li>
                <li><a [routerLink]="['/dashboard']" class="pull-left">
                        <img id="header-logo" src="assets/images/header-logo.png" alt="Smartsheet Connector">
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!logged">
                <li class="account-section-button">
                    <button  [routerLink]="['/login']" class="btn btn-default">Sign In</button>                   
                </li>

                <li class="account-section-button">
                    <button [routerLink]="['/signup']" class="btn btn-success">Sign Up</button>                   
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="logged">
                <li>
                    <p id="trial-box" class="bg-info">Trial expires in 7 days - Subscribe Now!</p>
                </li>
                <li class="account-section-item">
                        <i class="fa fa-question-circle-o " aria-hidden="true"></i>
                     </li>
         
                     <li class="account-section-item">
                         <i class="fa fa-cog " aria-hidden="true"></i>
                     </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           
                            <img  width="40" src="assets/images/user.png" alt="Smartsheet Connector">
                            
                        </a>
                    <ul class="dropdown-menu navbar-login-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <img width="60" src="assets/images/user.png" alt="Smartsheet Connector">
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>Rajab Nabih</strong></p>
                                        <p class="text-left small">correoElectronico@email.com</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p>
                                            <a (click)="goToMyAccount()" href="#" class="btn btn-info btn-sm">My Account</a>
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                            <p class="text-left">
                                               <a href="#" class="btn btn-default  btn-sm">Sign out</a>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<main>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</main>